<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Blog</title>
</head>
<body>
    {{>navbar data=details}}
    <div class="container">
           <div class="heading-style container text-light" ><h1 style="position:relative ;">Blog Posts
            <hr style="position:absolute; left:0"></h1></div>
           <div class="container mt-5" style="margin-top:12px; margin-bottom: 20px;">
{{#each posts}}
     <form action="readPost" method="post">
        <div class='card card-post text-light'>
        <img src="/static/images/{{this.image}}" class='d-none d-md-block blog-card-img card-img-top'/>
        <div class='card-body blog-card-body d-sm-12 '>
        <h3 class='card-title' style='font-weight: bold;'>{{this.title}}</h3>
        <p class='card-title d-none d-lg-block' style="font-size:20px; color:rgb(193, 193, 193)">{{this.description}}</p>
        <p class="card-text" style="color:rgb(193, 193, 193)">Posted by <b>{{this.postedBy}}</b></p>
        <p class="card-text" style="color:rgb(193, 193, 193);">Posted at {{this.time}}</p>
       <input type="hidden" name="postID" value="{{this._id}}">
        <a href=''><button style='width:100px' type='submit' name='read' class='btn btn-primary mt-3 ml-0'><b>Read More </b> </button></a>
       </div>
       </div>
       </form>
       {{/each}}
 
      </div>
    </div>
    {{> footer}}
</body>
</html>